body {
	/* System fonts */
	font-family: Manrope, sans-serif;
}

.prose :where(h1, h2, h3, h4, h5, h6):not(.not-prose) {
	/* font-family: Georgia, 'Times New Roman', Times, serif; */
	font-weight: 700;
}

:not(.prose) h1,
:not(.prose) h2,
:not(.prose) h3,
:not(.prose) h4,
:not(.prose) h5,
:not(.prose) h6 {
	font-weight: 600;
}

/* Set a good font-size for each heading level */
:not(.prose) h1 {
	font-size: 2rem;
}

:not(.prose) h2 {
	font-size: 1.75rem;
}

:not(.prose) h3 {
	font-size: 1.5rem;
}

:not(.prose) h4 {
	font-size: 1.25rem;
}
